RedirectMatch permanent ^/$ http://induction.fxplus.ac.uk/page/1.introduction.html?restart=1

RedirectMatch permanent ^/inductions/$ http://fxplus.org/inductions/_site/page/1.introduction.html?restart=1
