<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} {% endif %} - Falmouth Exeter Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <script src="../bootstrap/js/iframe.js"></script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="brand">Falmouth Exeter Plus</span>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/page/it.html">Restart</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    
    
    <h2>Introductions</h2>

  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          {% for item in site.pages %}
            {% if item.url == page.url %}
            <li class="active"><a href="{{ site.baseurl }}{{page.url}}">{{item.title}}</a></li>
            {% assign completion = 'incomplete' %}
          {% else %}
            {% if completion != 'incomplete' %}
              <li class ="viewed"><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a></li>
            {% else %}
              <li class="inactive"><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a></li>
            {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
    

      </div>
      <div class="span9 page-content">
        <!-- Main induction content
        ================================================== -->
        <section id="instructions">
          <div class="page-header">
            <!-- create next link
================================================== -->
    {% for item in site.pages %}
      {% if item.url == page.url %}
        {% assign next = 'true' %}
      {% else %}
        {% if next == 'true' %}
          <a href="{{ site.baseurl }}{{item.url}}"class="btn btn-large btn-primary pull-right">
            Next<i class="icon-chevron-right"></i>
          </a>
          {% assign next = 'false' %}
        {% endif %}
      {% endif %}
    {% endfor %}

            <h1>{% if page.title %} {{ page.title }} {% endif %}</h1>
          </div>
          <div class="page-body">
            <p class="lead">{% if page.lead %} {{ page.lead }} {% endif %}</p>
            {% if page.vimeo %}
            <div class="vimeo-embed" {% if page.thumbnail %}style="background-image: url(http://b.vimeocdn.com/ts/442/873/442873103_640.jpg); background-repeat:no-repeat;"{% endif %}>
              <iframe src="{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="640" height="433" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <br/>
            {% endif %}

            {% if page.youtube %}
            <div class="youtube-embed">
              <iframe width="640" height="360" src="//www.youtube.com/embed/{{page.youtube}}?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
            <br/>
            {% endif %}


            {{ content }}
          </div>
        </section>
      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        These services are provided to Falmouth University and University of Exeter by Falmouth Exeter Plus
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <script src="../bootstrap/js/jquery.js"></script>
    <script src="../bootstrap/js/cookies.js"></script>

    <script>

      currentstage = $('.nav-list li.active');
      currentstage = $('.nav-list li').index(currentstage);

      stage = getCookie('fxinduct_stage');
      if (stage < currentstage) {
        stage = currentstage;
      }
      createCookie('fxinduct_stage', stage);
      
      //$('#instructions').prepend('<p>currentstage:'+currentstage+' stage:'+stage+'</p>');

      boundary = stage + 1;
      
      $(".nav-list > li:gt("+boundary+") > a").removeAttr("href");
      $(".nav-list > li:lt("+(boundary+1)+")").removeClass("inactive").addClass('viewed');

      $('.vimeo-embed').attr('width', 300);
      $('.vimeo-embed').attr('height', 215);
      //$(".nav-list .active").removeAttr("href").addClass('bar');

    </script>
  </body>
</html>
